<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "p-4"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field row">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Name", class: "form-control border-0 border-bottom mb-4" %>
  </div>

  <div class="field row">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control border-0 border-bottom mb-4" %>
  </div>

  <div class="field row">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (6 characters minimum)", class: "form-control border-0 border-bottom mb-4" %>
  </div>

  <div class="field row">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "form-control border-0 border-bottom mb-4" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-dark mb-4" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
