<p style="color: green"><%= notice %></p>

<%= render @category_purchase %>

<div>
  <%= link_to "Edit this category purchase", edit_category_purchase_path(@category_purchase) %> |
  <%= link_to "Back to category purchases", category_purchases_path %>

  <%= button_to "Destroy this category purchase", @category_purchase, method: :delete %>
</div>
